adoptopenjdk12
adoptopenjdk8
alacritty
alfred
battle-net
brave-browser-beta
contexts
discord
docker
firefox-beta
font-consolas-for-powerline
font-dejavu-sans-mono-for-powerline
font-fira-mono-for-powerline
font-firacode-nerd-font
font-firacode-nerd-font-mono
font-firamono-nerd-font
font-firamono-nerd-font-mono
font-hack
font-hack-nerd-font
font-hack-nerd-font-mono
font-inconsolata
font-inconsolata-dz-for-powerline
font-inconsolata-for-powerline
font-inconsolata-nerd-font
font-inconsolata-nerd-font-mono
font-menlo-for-powerline
font-meslo-nerd-font
font-meslo-nerd-font-mono
font-monoid-nerd-font
font-monoid-nerd-font-mono
font-mononoki-nerd-font
font-mononoki-nerd-font-mono
google-chrome
insomnia
intellij-idea-ce
iterm2
jd-gui
notion
plex
powershell
santa
sekey
spotify
visual-studio-code
vlc
wireshark
{{- if .is_work }}
elgato-thunderbolt-dock
intellij-idea
zoomus
{{end -}}